<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <img src="{{ url_for('static', filename='simple_chat_logo.png') }}" alt="Simple Chat Logo" class="chat-logo"/>
        </div>
        <div class="chat-box" id="chatBox"></div>
        <div class="message-input">
            <input type="text" id="messageInput" placeholder="Type a message...">
            <button id="sendButton" onclick="sendMessage()">&#x21EA;</button>
            <div id="spinner" class="spinner" style="display:none;">
                <img src="{{ url_for('static', filename='spinner.gif') }}" alt="Loading...">
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

